<form method="post" action="{ACTION}" name="post">
	<!-- INCLUDE raid_display.html -->
	<!-- INCLUDE member_display.html -->
	<table width="100%" border="0" cellspacing="1" cellpadding="2" class="colorswitch">
		<tr>
			<th colspan="2">{L_item}</th>
			<th>{L_rli_item_id}</th>
			<th>{L_rli_looter}</th>
			<th>{L_raid}</th>
			<th>{L_itempool}</th>
			<th colspan="2">{L_rli_cost}</th>
		</tr>
		<!-- BEGIN loots -->
		<tr id="item_{loots.KEY}" {loots.DISPLAY}>
			<td>
				&nbsp;<img src="{IMAGE_PATH}glyphs/delete.png" alt="{L_delete}" title="{L_delete}" class="del_item item_{loots.KEY}" />
				<input type="hidden" id="item_{loots.KEY}submit" name="loots[{loots.KEY}][delete]" value="true" {loots.DELDIS} />
			</td>
			<td><input type="text" name="loots[{loots.KEY}][name]" class="input" value="{loots.LOOTNAME}" size="40" {loots.READONLY} /></td>
			<td><input type="text" name="loots[{loots.KEY}][game_id]" class="input" value="{loots.ITEMID}" /></td>
			<td>{loots.LOOTER}</td>
			<td>{loots.RAID}</td>
			<td>{loots.ITEMPOOL}</td>
			<td><input type="text" name="loots[{loots.KEY}][value]" value="{loots.LOOTDKP}" class="maininput" size="7" /></td>
			<!-- IF S_IP_SAVE -->
			<td><input type="checkbox" name="itempool_save[]" value="{loots.KEY}" class="input" /></td>
			<!-- ENDIF -->
		</tr>
		<!-- END loots -->
		<tr>
			<td colspan="4">
				<input type="button" id="add_item_button" class="mainoption bi_new" value="{L_rli_add_item}" />
			</td>
			<td colspan="4">
				<!-- IF S_IP_SAVE -->
				<input type="submit" name="save_itempools" class="mainoption bi_save" value="{L_rli_save_itempool}" />
				<!-- ENDIF -->
			</td>
		</tr>
		<tr>
			<th colspan="8">
				<input type="submit" name="checkraid" value="{L_rli_back2raid}" class="mainoption" />
				<input type="submit" name="checkmem" value="{L_rli_back2mem}" class="mainoption" />
				<input type="submit" name="checkitem" value="{L_update}" class="mainoption" />
				{NEXT_BUTTON}
			</th>
		</tr>
	</table>
</form>

