<form method="post" action="{ACTION}" name="post">
	<!-- INCLUDE raid_display.html -->
	<table width="100%" border="0" cellspacing="1" cellpadding="1" id="member_form" class="colorswitch">
	<!-- IF DETAIL_RAIDLIST -->
		<!-- INCLUDE detailed_members_raids.html -->
	<!-- ELSE -->
		<!-- INCLUDE members_raids.html -->
	<!-- ENDIF -->
	  <tr class="row2">
		<td colspan="2">
	  		<input type="button" id="add_mem_button" value="{L_rli_add_mem}" class="mainoption bi_new" />
	  	</td>
	  	<td class="row2" colspan="99">&nbsp;</td>
	  </tr>
    </table>
    <table width="100%" border="0" cellspacing="1" cellpadding="1">
      <tr>
        <th align="center" colspan="8">
      	   <input type="hidden" name="rest" value="{DATA}" />
      	   <input type="submit" name="checkraid" value="{L_rli_back2raid}" class="mainoption" />
		   <input type="submit" name="checkmem" value="{L_update}" class="mainoption" />
		   <input type="submit" name="checkitem" value="{L_rli_go_on} ({L_rli_checkitem})" class="mainoption" /></th>
      </tr>
	</table>
</form>
{CONTEXT_MENU}