<table width="100%" border="0" cellspacing="1" cellpadding="1">
	<tr>
		<th colspan="4">{L_RAIDS}</th>
	</tr>
	<!-- BEGIN raids -->
	<tr>
		<th colspan="4">{raids.COUNT}. {L_RAID}: </th>
	</tr>
	<tr class="row1">
		<td colspan="2">{L_START}: {raids.START_DATE} {raids.START_TIME}</td>
		<td colspan="2">{L_END}: {raids.END_DATE} {raids.END_TIME}</td>
	</tr>
		<tr class="row2">
		<td colspan="2">{L_EVENT}: {raids.EVENT}</td>
		<td colspan="2">{L_VALUE}: {raids.VALUE}</td>
	</tr>
	<tr class="row1">
		<td colspan="4">{L_NOTE}: {raids.NOTE}</td>
	</tr>
	<tr class="row2">
		<td colspan="4">{L_BOSSKILLS}:</td>
	</tr>
	<tr class="row1">
		<td width="33%">{L_NAME}</td><td colspan="2" width="33%">{L_TIME}</td><td width="33%">{L_VALUE}</td>
	</tr>
	{raids.BOSSKILLS}
<!-- END raids -->
</table>