<!-- IF S_GERMAN -->
<table width="90%" cellpadding="2" cellspacing="0" border="0" align="center">
  <tr><th>&nbsp;</th></tr>
  <tr class="row1"><td>&nbsp;</td></tr>
  <tr class="row1">
  	<td align="center">{L_MANUAL}</td>
  </tr>
  <tr class="row1"><td>&nbsp;</td></tr>
  <tr><th>&nbsp;</th></tr>
  <tr><td>&nbsp;</td></tr>
</table>
<!-- ENDIF -->
<form action="{ACTION}" method="post">
<table width="100%" cellpadding="2" cellspacing="1" border="0">
  {TAB_JS}
 <tr><td width="100%">
  <div id="rli_config"><ul>
  	<!-- BEGIN holder -->
  		<li><a href="#rli_config-{holder.NUM}"><span>{holder.TITLE}</span></a></li>
  	<!-- END holder -->
  	</ul>
	<!-- BEGIN holder -->
      <div id="rli_config-{holder.NUM}"><table width="100%" cellpadding="2" cellspacing="1" border="0">
      	<tr><th colspan="2">{holder.TITLE}</th></tr>
		<!-- BEGIN config -->
		<tr class="{holder.config.CLASS}">
			<td>{holder.config.NAME}</td><td>{holder.config.VALUE}</td>
		</tr>
		<!-- END config -->
      </table></div>
	<!-- END holder -->
  </div>
  </td></tr>
	<tr>
		<td width="200px" align="center"><input type="submit" name="upd" value="{L_SAVE}" class="mainoption" /></th>
	</tr>
</table>
</form>