<form method="post" action="{F_PARSE}" name="post" id="member_form">
	<table width="100%" border="0" cellspacing="1" cellpadding="1">
		<tr>
			<th colspan="4">{L_RAIDS}</th>
		</tr>
      <!-- BEGIN raids -->
      <tr>
      	<th colspan="4">{raids.COUNT}. {L_RAID}: </th>
      </tr>
      <tr class="row1">
      	<td colspan="2">{L_START}: {raids.START_DATE} {raids.START_TIME}</td>
        <td colspan="2">{L_END}: {raids.END_DATE} {raids.END_TIME}</td>
      </tr>
      <tr class="row2">
        <td colspan="2">{L_EVENT}: {raids.EVENT}</td>
        <td colspan="2">{L_VALUE}: {raids.VALUE}</td>
      </tr>
      <tr class="row1">
        <td colspan="4">{L_NOTE}: {raids.NOTE}</td>
      </tr>
      <tr class="row2">
        <td colspan="4">{L_BOSSKILLS}:</td>
      </tr>
      <tr class="row1">
      	<td width="33%">{L_NAME}</td><td colspan="2" width="33%">{L_TIME}</td><td width="33%">{L_VALUE}</td>
      </tr>
      {raids.BOSSKILLS}
	  <!-- END raids -->
	</table>
	<table border="0" cellspacing="1" cellpadding="1" id="member" width="200%">
	  <tr>
        <th colspan="3">{L_MEMBERS}</th>
	  </tr>
	  <tr>
        <th width="45px" style="min-width:45px;">&nbsp;</th>
	  	<th style="max-width:300px;">{L_MEMBER}</th>
	  	<th width="{PXTIME}px">{L_RAIDS}</th>
	  </tr>
	  <!-- BEGIN player -->
      <tr class="{player.ZAHL}">
         <td align="right">{player.NR}&nbsp;<img src="./../../../images/global/delete.png" alt="{L_DELETE}"><input type="checkbox" name="members[{player.KEY}][delete]" value="true" title="{L_DELETE}" /></td>
	     <td><input type="text" name="members[{player.KEY}][name]" value="{player.MITGLIED}" /></td>
	     {player.RAID_LIST}
	  </tr>
      <!-- END player -->
	  <tr class="row2">
	  	<td colspan="3"><select name="members_add">
	  		  <option value="0">0..{L_MEMS_ADD}</option>
	  		  <option value="1">1..{L_MEM_ADD}</option>
	  		  <option value="2">2..{L_MEMS_ADD}</option>
	  		  <option value="3">3..{L_MEMS_ADD}</option>
	  		  <option value="4">4..{L_MEMS_ADD}</option>
	  		  <option value="5">5..{L_MEMS_ADD}</option>
	  		</select>
	  		<input type="submit" name="checkmem" value="{L_UPD}" class="mainoption" /> {L_RAIDATT_UPD}
	  	</td>
	  	<td class="row2" colspan="99">&nbsp;</td>
	  </tr>
    </table>
    <table width="100%" border="0" cellspacing="1" cellpadding="1">
      <tr>
        <th align="center" colspan="8">
      	   <input type="hidden" name="rest" value="{DATA}" />
      	   <input type="submit" name="checkraid" value="{L_BACK2RAID}" class="mainoption" />
		   <input type="submit" name="checkitem" value="{L_GO_ON} ({L_CHECKITEMS})" class="mainoption" /></th>
      </tr>
	</table>
</form> {CONTEXT_MENU}