<form action="bz.php" method="post">
	<table width="100%" border="0" cellspacing="1" cellpadding="2">
        <tr>
            <th colspan="5">{L_BZ}</th>
        </tr>
		<tr>
			<th width="10"></th><th width='35%'>{L_STRING}</th><th width='35%'>{L_NOTE}</th><th>{L_BONUS}</th><th>{L_TIMEBONUS}</th>
		</tr>
		<!-- BEGIN zone_list -->
		<tr>
			<th><input type="checkbox" name="zone_id[]" value="{zone_list.ZID}" /></th>
			<th>{zone_list.ZSTRING}</th>
			<th>{zone_list.ZNOTE}</th>
			<th>&nbsp;</th>
			<th>{zone_list.ZTIMEBONUS}</th>
		</tr>
		<!-- BEGIN boss_list -->
		<tr class="{zone_list.boss_list.CLASS}">
			<td><input type="checkbox" name="boss_id[]" value="{zone_list.boss_list.BID}" /></td>
			<td>{zone_list.boss_list.BSTRING}</td>
			<td>{zone_list.boss_list.BNOTE}</td>
			<td>{zone_list.boss_list.BBONUS}</td>
			<td>{zone_list.boss_list.BTIMEBONUS}</td>
		</tr>
		<!-- END boss_list -->
		<!-- END zone_list -->
		<tr>
			<th colspan="5">
				<input type="submit" name="update" value="{L_UPDATE}" class="mainoption" />
				<input type="submit" name="delete" value="{L_DELETE}" class="mainoption" />
				<!-- IF S_DIFF -->
					<input type="submit" name="copy" value="{L_COPY_ZONE}" class="mainoption" />
					{DIFF_DROP}
				<!-- ENDIF -->
			</th>
		</tr>
	</table>
</form>