<form method="post" action="">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
      	<th align="center" width="100%">{L_BZ_DEL}</th>
      </tr>
      <tr>
      	<td class="row1">{L_CONFIRM_DEL}<br />
		<!-- BEGIN zdel_list -->
      		{zdel_list.STRING}<input type="hidden" name="zdel[]" value="{zdel_list.ID}" /><br />
		<!-- END zdel_list -->
      	<!-- BEGIN bdel_list -->
      		{bdel_list.STRING}<input type="hidden" name="bdel[]" value="{bdel_list.ID}" /><br />
      	<!-- END bdel_list -->
      </tr>
      <tr>
      	<th><input type="submit" name="save" value="{L_YES}" class="mainoption" />
      		<input type="submit" name="save" value="{L_NO}" class="mainoption" />
      	</th>
      </tr>
    </table>
</form>