<form method="post" action="{ACTION}" name="post">
    <table width="100%" border="0" cellspacing="1" cellpadding="2" id="raid">
      <tr>
      	<th colspan="2">{L_RAIDS}</th>
      </tr>
      <!-- BEGIN raids -->
      <tr>
      	<th <!-- IF not L_DIFFICULTY -->colspan="2"<!-- ENDIF -->> {raids.COUNT}. {L_RAID}:&nbsp;&nbsp;&nbsp;
      		<img src="./../images/delete.png" alt="{L_DELETE}" /><input type="checkbox" name="raids[{raids.COUNT}][delete]" value="true" title="{L_DELETE}" /></th>
        <!-- IF L_DIFFICULTY -->
        <th>{L_DIFFICULTY}: {raids.DIFF}</th>
      	<!-- ENDIF -->
      </tr>
      <tr class="row1">
      	<td>{L_START}: {raids.START_DATE}
                <input type="text" name="raids[{raids.COUNT}][start_time]" value="{raids.START_TIME}" class="maininput" size="9" />
        </td>
        <td>{L_EVENT}: {raids.EVENT}</td>
      </tr>
      <tr class="row2">
        <td>{L_END}: {raids.END_DATE}
                <input type="text" name="raids[{raids.COUNT}][end_time]" value="{raids.END_TIME}" class="maininput" size="9" />
        </td>
        <td>
			{L_VALUE}: <input type="text" name="raids[{raids.COUNT}][value]" value="{raids.VALUE}" class="maininput" size="6" />
			<!-- IF USE_TIMEDKP -->&nbsp;&nbsp;&nbsp;&nbsp; {L_T_DKP}: <input type="text" name="raids[{raids.COUNT}][timebonus]" value="{raids.TIMEBONUS}" class="maininput" size="6" /><!-- ENDIF -->
		</td>
      </tr>
      <tr class="row1">
        <td colspan="2">{L_NOTE}: <input type="text" name="raids[{raids.COUNT}][note]" value="{raids.NOTE}" class="maininput" size="90" /></td>
      </tr>
      <tr class="row2">
		<td colspan="2">{L_BOSSKILLS}:</td>
	  </tr>
	  <tr class="row1">
		<td colspan="2">
		<!-- BEGIN bosskills -->
			{raids.bosskills.BK_SELECT}
			&nbsp;&nbsp;&nbsp;&nbsp;{L_TIME}: <input type="text" name="raids[{raids.COUNT}][bosskills][{raids.bosskills.BK_KEY}][time]" value="{raids.bosskills.BK_TIME}" size="9" />
			&nbsp;&nbsp;&nbsp;&nbsp;{L_DATE}: {raids.bosskills.BK_DATE}
			<!-- IF USE_BOSSDKP -->
				&nbsp;&nbsp;&nbsp;&nbsp;{L_VALUE}: <input id="bonus_{raids.bosskills.BK_KEY}" type="text" name="raids[{raids.COUNT}][bosskills][{raids.bosskills.BK_KEY}][bonus]" value="{raids.bosskills.BK_BONUS}" size="5" />
				&nbsp;&nbsp;&nbsp;&nbsp;{L_T_DKP}: <input id="timebonus_{raids.bosskills.BK_KEY}" type="text" name="raids[{raids.COUNT}][bosskills][{raids.bosskills.BK_KEY}][timebonus]" value="{raids.bosskills.BK_TIMEBONUS}" size="5" />
			<!-- ENDIF -->
			<!-- IF L_DIFFICULTY -->
			&nbsp;&nbsp;&nbsp;&nbsp;{L_DIFFICULTY}: {raids.bosskills.BK_DIFF}
			<!-- ENDIF -->
			&nbsp;&nbsp;&nbsp;&nbsp;<img src="./../images/delete.png" alt="{L_DELETE}" />
				<input type="checkbox" name="raids[{raids.COUNT}][bosskills][{raids.bosskills.BK_KEY}][delete]" value="true" title="{L_DELETE}" />
			<!-- IF raids.bosskills.IMPORT -->&nbsp; <img src="./../images/add.png" alt="{L_IMPORT}" onclick="javascript:{raids.bosskills.IMPORT}();" style="mouse:thump;" /><!-- ENDIF --><br />
		<!-- END bosskills -->
		</td>
	  </tr>
	  <tr class="row2">
	  	<td colspan="2">
	  		<select name="raids[{raids.COUNT}][bosskill_add]">
	  		  <option value="0">0..{L_BKS_ADD}</option>
	  		  <option value="1">1..{L_BK_ADD}</option>
	  		  <option value="2">2..{L_BKS_ADD}</option>
	  		  <option value="3">3..{L_BKS_ADD}</option>
	  		  <option value="4">4..{L_BKS_ADD}</option>
	  		  <option value="5">5..{L_BKS_ADD}</option>
	  		</select>
	  	</td>
	  </tr>
	  <!-- END raids -->
	  <tr class="row1">
	  	<td><select name="raid_add">
	  		  <option value="0">0..{L_RAIDS_ADD}</option>
	  		  <option value="1">1..{L_RAID_ADD}</option>
	  		  <option value="2">2..{L_RAIDS_ADD}</option>
	  		  <option value="3">3..{L_RAIDS_ADD}</option>
	  		  <option value="4">4..{L_RAIDS_ADD}</option>
	  		  <option value="5">5..{L_RAIDS_ADD}</option>
	  		</select>
	  	</td>
	  	<td class="row1">&nbsp;</td>
	  </tr>
	  <tr>
	   	<th colspan="2"><input type="hidden" name="rest" value="{DATA}" />
            			<input type="submit" name="checkraid" value="{L_UPD}" class="mainoption" />
						<input id="onclose_submit" type="hidden" name="checkraid" value="{L_UPD}" disabled="disabled" />
            			<input type="submit" name="checkraid" value="{L_RECALC_RAID}" class="mainoption" />
                        <input type="submit" name="checkmem" value="{L_GO_ON} ({L_CHECKMEM})" class="mainoption" /></th>
	  </tr>
	</table>
</form>